LENS_ENV=testnet
LENS_APP_ADDRESS=0xC75A89145d765c396fd75CbD16380Eb184Bd2ca7
FORUM_BUILDER_PRIVATE_KEY=0xYOUR_BUILDER_PRIVATE_KEY
FORUM_POSTER_PRIVATE_KEY=0xYOUR_POSTER_PRIVATE_KEY
NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret
NEXT_PUBLIC_SITE_URL=http://localhost:3001
