LENS_ENV=testnet
LENS_APP_ADDRESS=0xC75A89145d765c396fd75CbD16380Eb184Bd2ca7
PUBLISHER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
LENS_ACCOUNT_ADDRESS=
BLOG_ACCOUNT_ADDRESS=
LENS_USERNAME_LOCAL_NAME=
BLOG_TAG=blog
BLOG_AUTHOR_NAME=Lens Blog Author
BLOG_AUTHOR_BIO=Publishing articles from a Lens-powered blog.
NEXT_PUBLIC_SITE_URL=http://localhost:3000
